@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    margin: 60px 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-content: center;

}

.header-items {
    background-color: black;
    display: flex;
    border-radius: 10px;
}

.header-deatils {
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 700;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
}

.title {
    font-size: bold;

}

.btn {
    text-decoration: none;
    background-image: linear-gradient(red, blue);
    margin-top: 30px;
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;


}

.itm-btn {
    text-decoration: none;
    background-color: lightseagreen;
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 400;
    border: 1px solid crimson;
    border-radius: 5px;
}

/* .section-2 {
    display: flex;
} */

.group-box {
    background-color: white;
    height: 300px;
    width: 150px;
    margin-top: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid gray;

}

.itm-btn {

    text-align: center;

}

.txt {
    text-decoration: none;
    color: red;
    font-size: 700;
    font-weight: 400;

}

.section-2 {
    display: flex;
    gap: 15px;
}

.features {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.transfer-1 {
    width: 312;
    height: 362px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.box {
    font: 700px;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.footers {
    width: 100%;
    height: 240px;
    background-color: black;
}

.Goaal {
    text-align: center;
    padding: 50px;
}

hr {
    color: gray;
    width: 100%;
    padding-left: 20px;
}

.cont-us {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.text-colors {
    color: #fff;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

/* ----------------------------------Upcoming match styles------------------------- */
.match {
    background-color: lightpink;
    border: 1px solid black;
    margin-top: 60px;
    padding: 30px;
    width: 312px;
    height: 242px;
    /* display: flex;
    justify-content: center;
    text-align: center; */

}

.match-opponent {
    display: flex;
    flex-direction: row;
}

.match-timing {}

.game-plan {
    color: black;
    text-align: center;
    justify-content: center;

}

.txt-clr {
    color: gray;

}

.game-schedule {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 10px;

}

.match-timing {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:688px) {
    .features {
        background-color: tomato;
    }
}